<html>
<head>
  <title>OpenPaste - create a new paste</title>
  <meta charset="utf-8" />
  <meta name="robots" content="noindex,nofollow" />
</head>
<body>
  <div id="tips">
    SHIFT + N = <a href="/">New paste</a> | By <a href="https://aljaxus.eu" target="_blank">Aljaxus</a>
  </div>
  <p style="color:white;">
    The "my pastes" history is stored in a local cookie named "openpaste_mypastes" in the browser that is being used on the local machine. If you were to clear all site data, the paste history will be lost.
  </p>
  <ul id="pastes">
  </ul>
</body>
</html>
<script src="/application.js"></script>
<script>
const pastes = document.getElementById('pastes')
var isShift = false;

window.onload = function () {
  const mypastes = getCookie('openpaste_mypastes') || ['openpaste_mypastes', '[]'];
  mypastes[1] = JSON.parse(mypastes[1]);
  for (const i in mypastes[1]) {
    if (mypastes[1].hasOwnProperty(i)) {
      const paste = mypastes[1][i];
      const date = new Date(paste.time).toLocaleDateString()
      const time = new Date(paste.time).toLocaleTimeString()

      const childLi = document.createElement('LI');
      const childA = document.createElement('A');
      const childTxt = document.createTextNode(String(paste.id) + ' - ' + date + ' ' + time );

      childA.appendChild(childTxt)
      childA.href = '/' + paste.id;
      childA.title = 'Paste with ID: ' + paste.id;

      childLi.appendChild(childA)
      pastes.appendChild(childLi)
    }
  }
  if (mypastes[1].length === 0) {
    const childLi = document.createElement('LI');
    const childTxt = document.createTextNode('You do not have any pastes yet!');

    pastes.appendChild(childTxt)
  }
}

document.onkeyup = function (e) {
  if ( e.keyCode === 16 ) {
    isShift = false;
  }
}
document.onkeydown = function (e) {
  if ( e.keyCode === 16 ) {
    isShift = true;
  }
  if ( e.keyCode === 78 && isShift === true ) {
    location.href = '//' + location.host;
    return false;
  }
}
</script>
<style>
* {
  scrollbar-color: rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.1);
  scrollbar-width: thin;
}
::-webkit-scrollbar { width: 12px; height: 12px }
::-webkit-scrollbar-track { background:rgba(0, 0, 0, 0.1) }
::-webkit-scrollbar-thumb { background: rgba(0, 0, 0, 0.5) }
html {
  margin: 0;
  padding: 0;
}

body {
  background: #002b36;
  padding: 7px;
  margin: 0;
}
a {
  color:tomato;
}
#pastes {
  list-style: decimal-leading-zero;
  color: white;
  font-family: monospace;
}
#pastes > li > a {
  text-decoration: none;
}
#tips {
  user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;

  color: white;
  text-align: right;
  width: 100%;
  margin: 7px 16px 0 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 15px;
  right: 0;
  top: 0;
}

</style>
